@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", "sans-serif";
  --font-mono: "Space Mono", "sans-serif";

  --color-gray-50: #f6f6f9;
  --color-gray-100: #ececf2;
  --color-gray-200: #d5d6e2;
  --color-gray-300: #b0b2c9;
  --color-gray-400: #8689aa;
  --color-gray-500: #676a90;
  --color-gray-600: #525577;
  --color-gray-700: #434461;
  --color-gray-800: #3a3c52;
  --color-gray-900: #343446;
  --color-gray-950: #0b0b0f;

  --color-error: #d84f68;

  --color-candle-light: #f8f9c8;

  --color-mint: #4EBE96;

  --color-link: #479ffa;
}

