@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", "sans-serif";
  --font-mono: "Space Mono", "sans-serif";
  --color-gray-50: #eeeeee;
  --color-gray-100: #b4b4b4;
  --color-gray-200: #7b7b7b;
  --color-gray-300: #6d6d6d;
  --color-gray-400: #606060;
  --color-gray-500: #484848;
  --color-gray-600: #393939;
  --color-gray-700: #303030;
  --color-gray-800: #282828;
  --color-gray-900: #1f1f1f;
  --color-gray-950: #121212;
}

